apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRoleBinding
metadata:
  name: admission-portieris-webhook
  labels:
    app: {{ template "portieris.name" . }}
    chart: {{ template "portieris.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
  annotations:
    helm.sh/hook: pre-install
    helm.sh/hook-weight: "-9"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: portieris
subjects:
  - kind: ServiceAccount
    name: portieris
    namespace: {{ .Values.namespace }}
