{{ if not .Values.SkipSecretCreation }}
{{ if .Values.UseCertManager }}
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: portieris
  namespace: {{ .Release.Namespace }}
spec:
  selfSigned: {}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: portieris-certs
  namespace: {{ .Release.Namespace }}
spec:
  dnsNames:
    - portieris.{{ .Release.Namespace }}.svc
  secretName: portieris-certs
  issuerRef:
    name: portieris
{{ else }}
apiVersion: v1
kind: Secret
metadata:
  name: portieris-certs
  namespace: {{ .Release.Namespace }}
type: Opaque
data:
  {{- if .Values.UseGeneratedCerts.enabled }}
  tls.crt: {{ .Values.UseGeneratedCerts.tlsCert | b64enc | quote }}
  tls.key: {{ .Values.UseGeneratedCerts.tlsKey | b64enc | quote }}
  {{ else }}
  tls.crt: {{ .Files.Get "certs/tls.crt" | b64enc }}
  tls.key: {{ .Files.Get "certs/tls.key" | b64enc }}
  {{- end }}
{{ end }}
{{ end }}
