# an inoperative webhook, establishes the object in the helm manifest such that it is uninstalled on chart delete
apiVersion: admissionregistration.k8s.io/v1beta1
kind: MutatingWebhookConfiguration
metadata:
  name: image-admission-config
  annotations:
  {{ if .Values.UseCertManager }}
    cert-manager.io/inject-ca-from: {{ .Release.Namespace }}/portieris-certs
  {{ end }}
  labels:
    app: {{ template "portieris.name" . }}
    chart: {{ template "portieris.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
webhooks:
  - name: trust.hooks.securityenforcement.admission.cloud.ibm.com
    clientConfig:
      service:
        name: {{ template "portieris.name" . }}
        namespace: {{ .Release.Namespace }}
        path: "/admit"
      {{ if not .Values.UseCertManager }}
      caBundle: {{ .Files.Get "certs/ca.crt" | b64enc }}
      {{ end }}
    rules:
    admissionReviewVersions: ["v1beta1"]
---
# webhook replaces the inoperative one, after the service is installed
apiVersion: admissionregistration.k8s.io/v1beta1
kind: MutatingWebhookConfiguration
metadata:
  name: image-admission-config
  annotations:
    "helm.sh/hook": post-install,post-upgrade,post-rollback
  {{ if .Values.UseCertManager }}
    cert-manager.io/inject-ca-from: {{ .Release.Namespace }}/portieris-certs
  {{ end }}
  labels:
    app: {{ template "portieris.name" . }}
    chart: {{ template "portieris.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
webhooks:
  - name: trust.hooks.securityenforcement.admission.cloud.ibm.com
    clientConfig:
      service:
        name: {{ template "portieris.name" . }}
        namespace: {{ .Release.Namespace }}
        path: "/admit"
      {{ if not .Values.UseCertManager }}
      caBundle: {{ .Files.Get "certs/ca.crt" | b64enc }}
      {{ end }}
    rules:
      - operations: [ "CREATE", "UPDATE" ]
        apiGroups: ["*"]
        apiVersions: ["*"]
        resources: ["pods", "deployments", "replicationcontrollers", "replicasets", "daemonsets", "statefulsets", "jobs", "cronjobs"]
    failurePolicy: Fail
    sideEffects: None
    admissionReviewVersions: ["v1beta1"]
    {{ if .Values.AllowAdmissionSkip }}
    namespaceSelector:
      matchExpressions:
      - key: securityenforcement.admission.cloud.ibm.com/namespace
        operator: NotIn
        values:
        - skip
    {{ end }}
