apiVersion: v1
kind: ConfigMap
metadata:
  name: default-image-policies
  namespace: {{ .Values.namespace }}
  labels:
    app: {{ template "portieris.name" . }}
    chart: {{ template "portieris.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
data:
  default-custom-resources.yaml: |-
    {{- include "policies.yaml.tpl" . | indent 4}}
