{{ define "policies.yaml.tpl" }}
apiVersion: securityenforcement.admission.cloud.ibm.com/v1beta1
kind: ImagePolicy
metadata:
  name: portieris-default-image-policy
  namespace: {{ .Values.namespace }}
  annotations:
    helm.sh/hook: post-install
    helm.sh/hook-weight: "1"
spec:
   repositories:
    # This policy allows all images to be deployed into this namespace. This policy prevents breaking any existing third party applications in this namespace.
    # IMPORTANT: Review this policy and replace it with one that meets your requirements. If you do not run any third party applications in this namespace, you can remove this policy entirely.
    - name: "*"
      policy:
    {{ if .Values.IBMContainerService }}
    # These policies allow all IBM Cloud Container Service images from the global and all regional registries to deploy in this namespace.
    # IMPORTANT: When you create your own policy in this namespace, make sure to include these repositories. If you do not, the cluster might not function properly.
    - name: "registry*.bluemix.net/armada/*"
      policy:
    - name: "registry*.bluemix.net/armada-worker/*"
      policy:
    - name: "registry*.bluemix.net/armada-master/*"
      policy:
    {{ end }}
    # This policy prevents Portieris from blocking itself
    - name: "{{ .Values.image.host }}/{{ .Values.image.image }}:{{ .Values.image.tag }}"
      policy:
    # This policy allows Portieris to use Hyperkube to configure your cluster. This policy must exist if you uninstall Portieris.
    - name: "{{ .Values.hyperkube.repository }}:{{ .Values.hyperkube.tag }}"
      policies:
  
---
apiVersion: securityenforcement.admission.cloud.ibm.com/v1beta1
kind: ImagePolicy
metadata:
  name: portieris-default-image-policy
  namespace: kube-system
  annotations:
    helm.sh/hook: post-install
    helm.sh/hook-weight: "1"
spec:
   repositories:
    # This policy allows all images to be deployed into this namespace. This policy prevents breaking any existing third party applications in this namespace.
    # IMPORTANT: Review this policy and replace it with one that meets your requirements. If you do not run any third party applications in this namespace, you can remove this policy entirely.
    - name: "*"
      policy:
    {{ if .Values.IBMContainerService }}   
    # These policies allow all IBM Cloud Container Service images from the global and all regional registries to deploy in this namespace.
    # IMPORTANT: When you create your own policy in this namespace, make sure to include these repositories. If you do not, the cluster might not function properly.
    - name: "registry*.bluemix.net/armada/*"
      policy:
    - name: "registry*.bluemix.net/armada-worker/*"
      policy:
    - name: "registry*.bluemix.net/armada-master/*"
      policy:
    {{ end }}
---
apiVersion: securityenforcement.admission.cloud.ibm.com/v1beta1
kind: ClusterImagePolicy
metadata:
  name: portieris-default-cluster-image-policy
  annotations:
    helm.sh/hook: post-install
    helm.sh/hook-weight: "1"
spec:
   repositories:
    # This enforces that all images deployed to this cluster pass trust
    # IMPORTANT: Review this policy and replace it with one that meets your requirements.
    - name: "*"
      policy:
        trust:
          enabled: true
{{ end }}
