name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: alltests
    runs-on: [self-hosted,go]
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    -name: Setup correct Go version
      uses: actions/setup-go@v2
      with:
        go-version: '1.17.7'
        check-latest: true

    - name: alltests
      run: |
        rm -rf /root/go/src/github.com/IBM
        mkdir -p /root/go/src/github.com/IBM/
        mv /tmp/github-runner-your-repo/portieris/portieris /root/go/src/github.com/IBM/
        cd /root/go/src/github.com/IBM/portieris/
        export PATH=$PATH:/usr/local/go/bin/
        export GOPATH=$HOME/go
        export PATH=$PATH:$HOME/go/bin/
        export TERM=ansi
        make alltests
        mv /root/go/src/github.com/IBM/portieris/ /tmp/github-runner-your-repo/portieris/
